<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Tweet</title>
</head>
<body>
    <center>
        <h2>Create New Tweet</h2>
        <hr>
        <form action="" method="POST">
            <h3>User ID</h3>
            <input type="text" name="id">
            <br>
            <h3>Enter Tweet</h3>
            <input type="text" name="tweet">
            <br>
            <h3>Created Date</h3>
            <input type="date" name="date">
            <br>
            <br>
            <input type="submit" name="create" value="create">
        </form>
    </center>
</body>
</html>