<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <center>
    <h1>
        Welcome To Eunimart
        <hr>
        <br>
        <h4>New User:</h4>
        <a href = "/register">Sign Up</a>
        <br>
        <h4>Already have an account?</h4>
        <a href ="/login">Login</a>
    </h1>
</center>
</body>
</html>